body{
    background-color: #14140F;
    height: 50vh;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F26800; 

}