.container {
    border: 2px solid rgb(14, 153, 223);
    
    
    padding: 20px;
    /* background-image: url("https://picsum.photos/id/684/600/400"); */
    border-radius: 20px;
    margin: auto;
    width: 50%;
  }
  
  label {
    /* border:1px solid red; */
    display: inline-block;
    width: 150px;
  }
  .button {
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    /* background-color: gray; */
    border: none;
  }
  .wraper {
     /* border: 1px solid red;  */
    display: flex; 
  }
  .foto {
    /* border: 1px solid blue;  */
    background-image: url("./avatar-men.png");
    width: 100px;
   
    background-size: contain;
    background-position: center;
    padding: 5px;
    background-repeat: no-repeat;
  }
  .baslik {
    /* border: 1px solid green; */
  }

 