

.container{

}
h1{
    text-align: center;
    margin-left: -40px;
    color: white;
}
.in {
    display:inline-block;
    width: 150px;
    margin-bottom: 10PX;
}
form{
   margin: auto;
    width: 400px;
    height: 700px;
    background-color: darkcyan;
    padding: 30px 0 30px 30px;
    border-radius: 30px;
}
.rows{
    display:inline-block;
    width: 150px;
}
.rows2{
    display:inline-block;
    width: 175px;
}
.file{
    display:inline-block;
    width: 330px;
}
.country{
    width: 137px;
}

table {
    border-spacing: 2em 0.5em;
    padding: 0 2em 1em 0;
    border: 1px solid orange;
    border-collapse: collapse;
  }
  
  td {
    width: 1.5em;
    height: 1.5em;
    background: #d2d2d2;
    text-align: center;
    vertical-align: middle;
  }