*{
    background-color: rgb(30, 171, 227);
  
}

body{
    /* background-color: aqua;
    border: 1px solid red; */
}
h1{
    color: blue;
    
}
h1:hover{
    /* color: blueviolet; */
    opacity: 0.5;
    cursor: pointer;

}
li{
    list-style-type: none;
}
li:hover{
    font-weight: 800;
    cursor: pointer;
    color: brown;
}
.list{
    border: 1px solid orange;
}