@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

p{
    padding: 10px;
}
body{
    font-size: 20px;
}

h1{
    font-weight: 300;
}
h3{
    font-variant: small-caps;
    font-size: 2rem;
}
.pag1{
    background-color: rgb(222,116,116);
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
   
}

.pag2{
    background-color: coral;
    font-size: 1.2rem;
    font-family: 'Bruno Ace SC', cursive;
}
.pag3{
    background-color: aquamarine;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}