*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;

}

span {
    color:red;
    font-weight:900; 
    font-size:1.2rem;
}
.row{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.col{
    padding-top: 100px;
    width: 50%;
    border: 1px solid pink;
    border-radius: 50px;
    height: 800px;
    margin: 10px;
    background-color: pink;

}
.col1{
    width: 20%;
}
.col2{
    width: 30%;
}
.col3{
    width: 50%;
}
.center{

height: 100%;
display: flex;
justify-content: center;
align-items: center;


 
}
.col #cBtn{
    height: 2.2rem;
    border-radius: 10px;

    cursor: pointer;
}
img{
    margin-top: 30px;
    width: 10rem;
}
#guess{
    height: 2rem;
    margin: 0.5rem;
}
.cal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
 
}
.cal_l, .cal_r{
    width: 50%;
    height: 100px;
 
    /* border: 1px solid hotpink; */
  
}
.cal2{
    display: flex; 
    justify-content: space-around;
    align-content: center;
    margin-top: -25px;
}

#cal, #puan{
    /* border: 1px solid hotpink; */
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: hotpink;
}
#gider, #count, .cBtn{ 
    margin-top: 10px;
    padding: 10px;
    background-color: hotpink;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.table {
    margin-top: 50px;
    border: 1px solid hotpink;
    display: grid;
}
tr{
    height: 30px;
}
